@import "tailwindcss";

@theme {
  /* neutral */
  --color-neutral-50:  #fafafa;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-900: #171717;

  /* emerald kasutuses päises/nuppudes */
  --color-emerald-700: #047857;
  --color-emerald-900: #065f46;

  /* gray (soovi korral jätad selle või vahetad neutral/stone vastu) */
  --color-gray-50:  #f9fafb;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-900: #111827;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
